<a href="https://colab.research.google.com/github/vamsikrishna00466/stock-market-anlalysis/blob/main/signal_checking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading https://files.pythonhosted.org/packages/21/79/2ff01ab7aa08db3a16b70b990c579c1024c6b2a734263cc7513a758867de/mysql-connector-python-rf-2.2.2.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 7.4MB/s
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py) ... done
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp37-cp37m-linux_x86_64.whl size=249456 sha256=89f959a7a6139618f195225fd13d38ce318c225c25a887c6689b4b35d90db4e0
  Stored in directory: /root/.cache/pip/wheels/87/58/fb/d95c84fad7e1bebfed324c13e107ebb08e1997c9226532859a
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2

In [2]:
#importing relevant libraries
import os
import pandas as pd
import numpy as np
import datetime
from matplotlib import pyplot as plt
import operator
import decimal
import time
import mysql.connector as mysql
from math import floor
import itertools
import warnings
warnings.filterwarnings('ignore')

In [87]:
df3.head()

   index            DateTime  ... middle_channel trade_type
0     49 2015-01-09 13:20:00  ...      18690.625        NaN
1     50 2015-01-09 13:25:00  ...      18688.450        NaN
2     51 2015-01-09 13:30:00  ...      18683.700        NaN
3     52 2015-01-09 13:35:00  ...      18669.325        NaN
4     53 2015-01-09 13:40:00  ...      18665.750        NaN

[5 rows x 13 columns]

In [95]:
n=0
df3 = df2.dropna(axis=0, inplace=False)
df3=df3.reset_index()
#trade type 
df3['trade_type'] = np.nan
#long position above supertrend and second candle break first candle high
for i in range(n,len(df3)):
  if df3['upper_channel'][i] <= df3['Close_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'long'
#long position below supertrend and second candle break first candle low
for i in range(n,len(df2)):
  if df3['lower_channel'][i] >= df3['Close_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'short'

In [96]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88491 entries, 0 to 88490
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           88491 non-null  int64
 1   DateTime        88491 non-null  datetime64[ns]
 2   Date            88491 non-null  object
 3   Time            88491 non-null  object
 4   Open_15         88491 non-null  float64
 5   High_15         88491 non-null  float64
 6   Low_15          88491 non-null  float64
 7   Close_15        88491 non-null  float64
 8   SuperTrend      88491 non-null  float64
 9   upper_channel   88491 non-null  float64
 10  lower_channel   88491 non-null  float64
 11  middle_channel  88491 non-null  float64
 12  trade_type      391 non-null    object
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 8.8+ MB

In [93]:
n=0
df3 = df2.dropna(axis=0, inplace=False)
df3=df3.reset_index()
#trade type 
df3['trade_type'] = np.nan
#long position above supertrend and second candle break first candle high
for i in range(n,len(df3)):
  if df3['upper_channel'][i] <= df3['High_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'long'
#long position below supertrend and second candle break first candle low
for i in range(n,len(df2)):
  if df3['lower_channel'][i] >= df3['Low_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'short'

In [94]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88491 entries, 0 to 88490
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           88491 non-null  int64
 1   DateTime        88491 non-null  datetime64[ns]
 2   Date            88491 non-null  object
 3   Time            88491 non-null  object
 4   Open_15         88491 non-null  float64
 5   High_15         88491 non-null  float64
 6   Low_15          88491 non-null  float64
 7   Close_15        88491 non-null  float64
 8   SuperTrend      88491 non-null  float64
 9   upper_channel   88491 non-null  float64
 10  lower_channel   88491 non-null  float64
 11  middle_channel  88491 non-null  float64
 12  trade_type      7859 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 8.8+ MB

In [88]:
n=0
df3 = df2.dropna(axis=0, inplace=False)
df3=df3.reset_index()
#trade type 
df3['trade_type'] = np.nan
#long position above supertrend and second candle break first candle high
for i in range(n,len(df3)):
  if df3['upper_channel'][i] <= df3['High_15'][i] and df3['SuperTrend'][i] <= df3['High_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'long'
#long position below supertrend and second candle break first candle low
for i in range(n,len(df2)):
  if df3['lower_channel'][i] >= df3['Low_15'][i] and df3['SuperTrend'][i] <= df3['Low_15'][i] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'short'

In [89]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88491 entries, 0 to 88490
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           88491 non-null  int64
 1   DateTime        88491 non-null  datetime64[ns]
 2   Date            88491 non-null  object
 3   Time            88491 non-null  object
 4   Open_15         88491 non-null  float64
 5   High_15         88491 non-null  float64
 6   Low_15          88491 non-null  float64
 7   Close_15        88491 non-null  float64
 8   SuperTrend      88491 non-null  float64
 9   upper_channel   88491 non-null  float64
 10  lower_channel   88491 non-null  float64
 11  middle_channel  88491 non-null  float64
 12  trade_type      4376 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 8.8+ MB

In [91]:
n=0
df3 = df2.dropna(axis=0, inplace=False)
df3=df3.reset_index()
#trade type 
df3['trade_type'] = np.nan
#long position above supertrend and second candle break first candle high
for i in range(n,len(df3)):
  if df3['upper_channel'][i] <= df3['High_15'][i] and df3['upper_channel'][i] <= df3['High_15'][i+1] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'long'
#long position below supertrend and second candle break first candle low
for i in range(n,len(df2)):
  if df3['lower_channel'][i] >= df3['Low_15'][i] and df3['lower_channel'][i] <= df3['Low_15'][i+1] and (df3.loc[i,"Time"]>=datetime.datetime.strptime('10:00:00', '%H:%M:%S').time()) & (df3.loc[i,"Time"]<datetime.datetime.strptime('14:45:00', '%H:%M:%S').time()):
    df3['trade_type'][i]= 'short'

In [92]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88491 entries, 0 to 88490
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           88491 non-null  int64
 1   DateTime        88491 non-null  datetime64[ns]
 2   Date            88491 non-null  object
 3   Time            88491 non-null  object
 4   Open_15         88491 non-null  float64
 5   High_15         88491 non-null  float64
 6   Low_15          88491 non-null  float64
 7   Close_15        88491 non-null  float64
 8   SuperTrend      88491 non-null  float64
 9   upper_channel   88491 non-null  float64
 10  lower_channel   88491 non-null  float64
 11  middle_channel  88491 non-null  float64
 12  trade_type      4164 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 8.8+ MB